.holder {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    max-width: 700px;
    outline: solid black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.item {
}

.item:nth-child(1) {
    order: -5;
    background-color: orange;
    flex-basis: calc(100% / 2);
}

.item:nth-child(2) {
    order: -1;
    background-color: blue;
    flex-basis: calc(100%/ 3);
}

.item:nth-child(3) {
    order: -3;
    background-color: purple;
    flex-basis: calc(100% / 3);
}

.item:nth-child(4) {
    order: -2;
    background-color: green;
    flex-basis: calc(100% / 3);
}

.item:nth-child(5) {
    order: -4;
    background-color: yellow;
    flex-basis: calc(100% / 2);
}
